body{
    font-family: Arial;
    font-size: 14px;
}
.main{
    display: block;
    margin: 100px 500px;
}
.text{
    height: 30px;
    width: 200px;
    padding: 6px;
}
.mail{
    width: 200px;
    position: absolute;
    background-color: white;
    color: grey;
    border: 1px solid grey;
    display:none;
}
.mail div{
    cursor: pointer;
    padding: 5px 8px;
    user-select:none;
}
.mail div:hover{
    background-color: #ffc5cf;
}
.under{
    width: 200px;
}